<footer class="bg-[#2E2E2E] py-10">
    <div class="container mx-auto">
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 text-white">
            <div class="item">
                <h3 class="my-4 text-3xl">Trendify</h3>
                <p class="leading-normal mb-4">Join our newsletter to stay up to date on features and releases.</p>
                <p class="leading-normal">
                    By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our
                    company.
                </p>
            </div>
            <div class="item">
                <h3 class="my-4 text-3xl">About Us</h3>
                <ul class="grid gap-4">
                    <li>FAQ</li>
                    <li>Contact</li>
                    <li>Returns</li>
                    <li>Blog</li>
                    <li>Shipping</li>
                </ul>
            </div>
            <div class="item">
                <h3 class="my-4 text-3xl">Customer</h3>
                <ul class="grid gap-4">
                    <li>Affiliates</li>
                    <li>Apple Pay Payments</li>
                    <li>Returns</li>
                    <li>Returns Policy</li>
                    <li>Returns</li>
                </ul>
            </div>
            <div class="item">
                <h3 class="my-4 text-3xl">Follow Us</h3>
                <ul class="grid gap-4">
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>LinkedIn</li>
                </ul>
            </div>
        </div>
        <h6 class="text-xs text-textMain">© 2025 Trendify. All rights reserved.</h6>
    </div>
</footer>