<header id="home" class="home flex items-center">
    <div class="container mx-auto">
        <div class="text-white home-bg">
            <h1 class="text-4xl leading-16">
                Elevate Your Home with <br />
                Stylish Furniture
            </h1>
            <p class="w-1/2 my-8">
                Explore a range of high-quality, affordable furniture designed to transform any room. Discover the
                perfect
                blend of style, comfort, and functionality for your space.
            </p>
            <a href="#products" class="btn bg-amber-900 py-2 px-7 rounded-4xl">Shop Now</a>
        </div>
    </div>
</header>


<main>
    <section id="services" class="py-30 bg-section">
        <div class="container mx-auto">
            <div class="main-text text-center">
                <h2
                    class="text-5xl text-amber-900 font-bold after:w-20 drop-shadow-sm drop-shadow-orange-600/70 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:z-10 after:bg-main relative text-main">
                    Services
                </h2>
                <p class="text-textMain mt-6 text-xl">
                    Benefits when using <br />
                    our services
                </p>
            </div>

            <div class="services-items mt-10 grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="item shadow-sm bg-white rounded p-4">
                    <span class="text-main center size-14 text-2xl rounded-full bg-section">
                        <i class="fa-regular fa-lightbulb"></i>
                    </span>
                    <h3 class="text-3xl mt-2 mb-6 font-bold">Inspiration</h3>
                    <p class="leading-normal text-gray-400">
                        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada
                        dignissim.
                    </p>
                </div>
                <div class="item shadow-sm bg-white rounded p-4">
                    <span class="text-main center size-14 text-2xl rounded-full bg-section">
                        <i class="fa-solid fa-headphones"></i>
                    </span>
                    <h3 class="text-3xl mt-2 mb-6 font-bold">24/7 Customer Services</h3>
                    <p class="leading-normal text-gray-400">
                        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada
                        dignissim.
                    </p>
                </div>
                <div class="item shadow-sm bg-white rounded p-4">
                    <span class="text-main center size-14 text-2xl rounded-full bg-section">
                        <i class="fa-solid fa-truck-fast"></i>
                    </span>
                    <h3 class="text-3xl mt-2 mb-6 font-bold">Express Shipping</h3>
                    <p class="leading-normal text-gray-400">
                        Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada
                        dignissim.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="py-30 bg-section">
        <div class="container mx-auto">
            <div class="main-text text-center">
                <h2
                    class="text-5xl text-amber-900 font-bold after:w-20 drop-shadow-sm drop-shadow-textMain-600/70 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:z-10 after:bg-textMain relative text-textMain">
                    A few words about us
                </h2>
                <p class="text-textMain mt-6 text-xl">
                    Make your best moments more stylish with our latest designs of clothing.
                </p>
            </div>

            <div class="about-content">
                <div class="about-item grid items-center md:grid-cols-2 gap-10 mt-30">
                    <div class="about-img">
                        <img src="about-1-min.png" loading="lazy" class="w-full"
                            alt="Stylish room with modern furniture" />
                    </div>
                    <div class="about-data">
                        <h3 class="text-2xl">Why choose us ?</h3>
                        <p class="mt-4 leading-normal text-gray-700">
                            Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut
                            ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus
                            Aenean
                            venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis
                            sed
                            mauris. Integer congue, sem elementum varius tristique.
                        </p>
                    </div>
                </div>
                <div class="about-item grid items-center md:grid-cols-2 gap-10 mt-30">
                    <div class="about-data">
                        <h3 class="text-2xl">Trusted online shopping</h3>
                        <p class="mt-4 leading-normal text-gray-700">
                            Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id arcu id scelerisque. Ut
                            ullamcorper rutrum justo, at blandit eros maximus ut. Integer non tincidunt justo, rhoncus
                            Aenean
                            venenatis sed purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum, lobortis
                            sed
                            mauris. Integer congue, sem elementum varius tristique.
                        </p>
                    </div>
                    <div class="about-img">
                        <img src="about-2-min.png" loading="lazy" class="w-full" alt="Woman shopping online" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="py-30 bg-white">
        <div class="container mx-auto">
            <div class="main-text">
                <h2
                    class="text-5xl text-amber-900 font-bold after:w-20 drop-shadow-sm drop-shadow-textMain-600/70 after:start-0 after:h-0.5 after:absolute after:top-[120%] after:z-10 after:bg-textMain relative text-textMain">
                    Contact me
                </h2>
                <p class="text-gray-700 mt-6 text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
            </div>

            <div class="contact-items">
                <form class="mt-10 grid gap-4">
                    <div class="flex gap-4 items-center flex-wrap md:flex-nowrap">
                        <div class="w-full md:w-1/2">
                            <label for="firstName" class="block">first Name</label>
                            <input type="text" id="firstName" name="firstName"
                                class="w-full mt-2 bg-section/80 rounded border border-main border-amber-950 px-1 py-2 focus:outline-none focus:ring-main" />
                        </div>

                        <div class="w-full md:w-1/2">
                            <label for="lastName" class="block">last Name</label>
                            <input type="text" id="lastName" name="lastName"
                                class="w-full mt-2 bg-section/80 rounded border border-main border-amber-950 px-1 py-2 focus:outline-none focus:ring-main" />
                        </div>
                    </div>

                    <div class="flex gap-4 items-center flex-wrap md:flex-nowrap">
                        <div class="w-full md:w-1/2">
                            <label for="email" class="block">Email </label>
                            <input type="email" id="email" name="email"
                                class="w-full mt-2 bg-section/80 rounded border border-main border-amber-950 px-1 py-2 focus:outline-none focus:ring-main" />
                        </div>

                        <div class="w-full md:w-1/2">
                            <label for="phone" class="block">Phone </label>
                            <input type="tel" id="phone" name="phone"
                                class="w-full mt-2 bg-section/80 rounded border border-main border-amber-950 px-1 py-2 focus:outline-none focus:ring-main" />
                        </div>
                    </div>

                    <div>
                        <label for="choose" class="block">Choose a Topic </label>
                        <select id="choose" name="choose"
                            class="w-full mt-2 bg-section/80 rounded border border-main border-amber-950 px-1 py-2 focus:outline-none focus:ring-main">
                            <option value="" disabled selected>Select one..</option>
                            <option value="html">html</option>
                            <option value="css">css</option>
                            <option value="js">js</option>
                            <option value="bootstrap">bootstrap</option>
                        </select>
                    </div>

                    <div>
                        <label for="message" class="block">Message </label>
                        <textarea placeholder="type message" id="message" name="message"
                            class="w-full h-40 resize-none mt-2 bg-section/80 rounded border border-main border-amber-950 px-1 py-2 focus:outline-none focus:ring-main"></textarea>
                    </div>

                    <button class="btn w-fit text-white bg-amber-900 py-2 px-7 rounded-4xl">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>